@import "~bootstrap/scss/bootstrap.scss";

/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
.semaforo{
    background-color: rgb(51, 51, 51);
    padding: 10px;
    display: inline-block;
    border-style: solid;
    border-radius: 20px;
    border-color: black;
    border-width: 5px;
   
}
.luz{
    width: 100px;
    height: 100px;
    border-radius:50%;
    background-color: blue;
    
}
.roja{
    background: red ;
}
.amarilla{
    background: yellow;

}
.verde{
    background: green ;
}
.iluminacion{
    box-shadow: 0px 0px 15px 4px rgb(249, 249, 252);
}
.banner-image{
    background-image: url("https://cdn.pixabay.com/photo/2016/11/22/23/44/porsche-1851246_960_720.jpg");
    background-size: cover;
}    